doctype html
html
	head
		title= '欸?哪裡錯誤了'
	body(background="http://i.imgur.com/1dvkFqc.jpg",style='background-repeat:no-repeat;background-size:2000px')
		div(style='float:left;margin:0px;font-family:"微軟正黑體";font-size:20px')
			a(href='/') 這邊回去唷!!

		div(style='float:right')
			if (username && authenticated)
				spana(style='margin:10px;font-family:"微軟正黑體";font-size:20px;color:#24367D') #{username}
				a(href='/profile', style='margin:10px;font-family:"微軟正黑體";font-size:20px;') 主人~歡迎回來
				a(href='/add_article', style='margin:10px;font-family:"微軟正黑體";font-size:20px;') 新增文章!!
				a(href='/signout', style='margin:10px;font-family:"微軟正黑體";font-size:20px;') 真的要離開嗎!?
			else
				a(href='/signin', style='margin:10px;font-family:"微軟正黑體";font-size:20px;') 登入囉!!
				a(href='/register', style='margin:10px;font-family:"微軟正黑體";font-size:20px;') 新的客人嗎?這邊註冊喔

	div(style='padding:100px;')
		form(name="modify", action="/apis/update/" + messageID, method="post")
			h1(style='color:#00CED1;font-family:"微軟正黑體";font-size:50px') 編輯文章:
			div
				p
					span(style='padding-right:0px;font-family:"微軟正黑體";color:#00CED1;font-size:20px') 主人: 
					label(style='padding-right:0px;font-family:"微軟正黑體";color:#00CED1;font-size:20px') #{username}
				p
					textarea(cols="50", rows="25", style='resize : none;', name="Content") #{blogs[0].Article)
				div
					span(style='padding-right:377px')
					input(type="submit", name="submit", value="更改~")

